@charset "utf-8";
/* CSS Document */

.story-link {
    padding: 5px;
    margin: 5px;
    background-color: white;

    border-style: solid;
	border-width: 1px;
    border-color: #CCCCCC;
    /*box-shadow: 0px 0px 5px #000;*/
}

.thumbnail {
    vertical-align: middle;
}

.story-container {
    width: 800px;
    margin: auto;
}

.meta-data-text {
    margin-bottom: 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
}

.description-text {
    margin: 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}