<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <!-- Home -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="navbar-brand" routerLink="/">Home</a></li>
  </ul>

  <!-- Navbar toggler -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">

    <ul class="navbar-nav mr-auto">

      <!-- Blog Posts -->
      <li class="nav-item">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Blog Posts
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/blog-post-explorer">All Posts</a>
            <div class="dropdown-divider"></div>
            <a *ngIf="isLoggedIn" class="dropdown-item" routerLink="/blog-post-explorer/{{getCurrentUserId()}}">My Posts</a>
          </div>
        </div>
      </li>

    </ul>

    <!-- Right Side -->
    <div *ngIf="isLoggedIn; then loggedInBlock else loggedOutBlock"></div>

    <!-- Sign Out -->
    <ng-template #loggedInBlock>
      <div>
        <a class="btn btn-outline-dark" style="margin-right: 5px;" routerLink="/edit-user">{{currentUser.username}}</a>
        <a (click)="signOut()" class="btn btn-info my-2 my-sm-0">Sign Out</a>
      </div>
    </ng-template>

    <!-- Sign In -->
    <ng-template #loggedOutBlock>
      <div>
        <button (click)="signIn()" class="btn btn-info" style="margin-right: 5px;">Sign In</button>
        <button (click)="register()" class="btn btn-outline-dark">Register</button>
      </div>
    </ng-template>

  </div>

</nav>