@charset "utf-8";
/* CSS Document */

.post-list__divider {
    width: 30%;
    margin: 2.2em 0 2.1em 0;
    border-top: 1px solid #dddddd;
}

.thumbnail {
    vertical-align: middle;
}

.thumbnail-image {
    width: 64px;
    height: 38x;

    border: 1px solid #ddd;
    border-radius: 4px;

    padding: 5px;
}

.thumbnail-image:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
  

.blog-post-container {
    width: 100%;
    max-width: 800px;
    margin-left: 100px;
    margin-top: 75px;
}

.meta-data-text {
    margin-top: 10px;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
}

.description-text {
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}