<!-- Label -->
<ng-template #labelInput let-label="label" let-key="key" let-value="value" let-color="color">
    <label [style.color]="color" id="{{generateKeyId(key)}}">{{label}}</label>
</ng-template>

<!-- Text Input -->
<ng-template #textInput let-label="label" let-key="key" let-value="value" let-color="color">
    <label [style.color]="color">{{label}}</label>
    <input type="text" class="form-control" id="{{generateKeyId(key)}}" name="{{label}}" value="{{value}}" required />
</ng-template>

<!-- Boolean Input -->
<ng-template #boolInput let-label="label" let-key="key" let-value="value" let-color="color">
    <label [style.color]="color">{{label}}</label>
    <input type="checkbox" class="form-control" id="{{generateKeyId(key)}}" name="{{label}}" value="{{value}}" />
</ng-template>

<!-- Password Input -->
<ng-template #passwordInput let-label="label" let-key="key" let-value="value" let-color="color">
        <label [style.color]="color">{{label}}</label>
    <input type="password" class="form-control" id="{{generateKeyId(key)}}" name="{{label}}" value="{{value}}" />
</ng-template>

<!-- Dropdown Input -->
<ng-template #dropdownInput let-label="label" let-key="key" let-value="value" let-color="color" let-dropdownEntries="dropdownEntries">
    <div class="dropdown">
        <label [style.color]="color">{{label}}</label><br>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="{{generateKeyId(key) + '_button'}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{getDropdownValue(dropdownEntries, value)}}
        </button>
        <input type="hidden" id="{{generateKeyId(key)}}" value="{{value}}"/>
        <div class="dropdown-menu" aria-labelledby="generateKeyId(key) + '_button'">
            <a class="dropdown-item" *ngFor="let dropDownKey of getDropdownKeys(dropdownEntries)" (click)="selectDropdownValue(key, dropDownKey)">
                {{getDropdownValue(dropdownEntries, dropDownKey)}}
            </a>
        </div>
    </div>
</ng-template>

<!-- File Input -->
<ng-template #fileInput let-label="label" let-key="key" let-value="value" let-color="color" let-options="options">
    <label [style.color]="color">{{label}}</label>
    <input type="file" class="form-control-file" id="{{generateKeyId(key)}}" name="{{label}}" accept="{{getAcceptedFiles(options.fileTypes)}}" />
</ng-template>

<ng-template #modalContent>
<form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
    <div class="modal-body">
        <div class="form-group" *ngFor="let entry of form.values()">
            <div [ngSwitch]="entry.type">
                <div *ngSwitchCase="'text'"><ng-container *ngTemplateOutlet="textInput; context: entry"></ng-container></div>
                <div *ngSwitchCase="'bool'"><ng-container *ngTemplateOutlet="boolInput; context: entry"></ng-container></div>
                <div *ngSwitchCase="'label'"><ng-container *ngTemplateOutlet="labelInput; context: entry"></ng-container></div>
                <div *ngSwitchCase="'password'"><ng-container *ngTemplateOutlet="passwordInput; context: entry"></ng-container></div>
                <div *ngSwitchCase="'dropdown'"><ng-container *ngTemplateOutlet="dropdownInput; context: entry"></ng-container></div>
                <div *ngSwitchCase="'file'"><ng-container *ngTemplateOutlet="fileInput; context: entry"></ng-container></div>
            </div>
        </div>

        <div class="form-group" *ngIf="error != ''">
            <label [style.color]="'red'">{{error}}</label>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" [disabled]="loading" class="btn btn-primary">{{form.submitText}}</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <button [disabled]="loading" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
</form>
</ng-template>

<div #formModal class="modal fade" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{form.title}}</h4>
            <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <ng-container *ngTemplateOutlet="modalContent"></ng-container>
    </div>
</div>
</div>
