<div style="height: 10px;"></div>
<div class="editor-context-container">
  <h1>{{blogPost.title}}</h1>
  <div *ngFor="let element of titleElements">
    <tr style="table-layout: fixed;">
      <th width="100%">
        <button class="btn btn-link chapter-link"
        (click)="editChapter(element.payload)"
        [style.marginLeft.px]="navTitles[element.tagName.toLowerCase()].padding"
        [style.font-size.px]="navTitles[element.tagName.toLowerCase()].font-size"
        >
        {{element.content}}
        </button>
      </th>
      
      <th>
        <button class="btn btn-link" (click)="reorderChapter(element.payload, true)">
          <fa-icon [icon]="faArrowUp" style="color: black;" ></fa-icon>
        </button>
      </th>
      <th>
        <button class="btn btn-link" (click)="reorderChapter(element.payload, false)">
          <fa-icon [icon]="faArrowDown" style="color: black;"></fa-icon>
        </button>
      </th>
    </tr>
  </div>
</div>