<!--
<div>
  <h1 [style.color]="'white'">{{blogPost.title}}</h1>
</div>
-->
<h1>{{blogPost.title}}</h1>
<div *ngFor="let element of titleElements">
  <div>
      <button class="btn btn-link" style="padding: 0px; margin: 0px; color: black;"
      (click)="editChapter(element.payload)"
      [style.marginLeft.px]="navTitles[element.tagName.toLowerCase()].padding"
      [style.font-size.px]="navTitles[element.tagName.toLowerCase()].font-size"
      >
      {{element.content}}
      </button>
      <div style="float: right; padding-right: 5px;">
        <button class="btn btn-link" style="font-size: 15px; padding: 0px; color: black;" (click)="reorderChapter(element.payload, true)">▲</button>
        <button class="btn btn-link" style="font-size: 15px; padding: 0px; padding-left: 5px; color: black;" (click)="reorderChapter(element.payload, false)">▼</button>
      </div>
  </div>
</div>