<div id="quill-toolbar" class="ql-toolbar ql-snow">
  <span class="ql-formats">
    <button class="ql-bold"></button>
    <button class="ql-italic"></button>
    <button class="ql-underline"></button>
  </span>

  <span class="ql-formats">
    <button class="ql-blockquote"></button>
    <button class="ql-code-block"></button>
  </span>

  <span class="ql-formats">
    <button type="button" class="ql-header" value="1"></button>
    <button type="button" class="ql-header" value="2"></button>
  </span>

  <span class="ql-formats">
    <button type="button" class="ql-list ql-active" value="ordered"></button>
    <button type="button" class="ql-list" value="bullet"></button>
  </span>

  <span class="ql-formats">
    <button type="button" class="ql-script" value="sub"></button>
    <button type="button" class="ql-script" value="super"></button>
  </span>

  <span class="ql-formats">
    <button type="button" class="ql-indent" value="-1"></button>
    <button type="button" class="ql-indent" value="+1"></button>
  </span>

  <span class="ql-formats">
    <button type="button" class="ql-direction" value="rtl"></button>
  </span>

  <span class="ql-formats">
    <select class="ql-size">
      <!--<option value="small"></option>-->
      <!-- Note a missing, thus falsy value, is used to reset to default -->
      <!--
      <option selected></option>
      <option value="large"></option>
      <option value="huge"></option>
      -->
    </select>
  </span>

  <span class="ql-formats">
    <select class="ql-color"></select>
    <select class="ql-background"></select>
  </span>

  <span class="ql-formats">
    <select class="ql-font">
      <!--
      <option value="aref">Aref Ruqaa</option>
      <option value="mirza">Mirza</option>
      <option selected>Roboto</option>
      -->
    </select>
  </span>

  <span class="ql-formats">
    <select class="ql-header"></select>
  </span>

  <span class="ql-formats">
    <select class="ql-align"></select>
  </span>

  <span class="ql-formats">
    <button class="ql-clean"></button>
  </span>

  <span class="ql-formats">
    <button class="ql-link"></button>
    <button class="ql-image"></button>
    <button class="ql-video"></button>
  </span>

  <span class="ql-formats">
      <button class="ql-formula"></button>
  </span>
</div>
