.main-title {
	margin-bottom: 50px;
}

.chapter-title {
	text-align: left;
	margin-bottom: 10px;
}

.chapter-title-text {
	display: inline-block;
}

.divider {
	width: 40%;
	margin-left: 0px;
	margin-bottom: 25px;
	border-top: 1px solid #dddddd;
}