@charset "utf-8";
/* CSS Document */
.body-container {
	height: calc(100vh - 57px);
	background-color: #DAE0E6;
}

#main-container {
	height: calc(100vh - 108px);
	overflow-y: auto;
}

.context-info {
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
}