<app-login></app-login>
<app-register></app-register>
<app-form></app-form>
<app-navbar></app-navbar>
<alert></alert>

<div class="row no-gutters body-container">
    <div class="col-2 bg-dark">
        <app-nav-menu></app-nav-menu>
    </div>

    <div class="col">
        <app-toolbar></app-toolbar>
        <div class="row no-gutters">
            <div class="col">
                <div id="main-container">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div class="col-2">
                <app-side-bars></app-side-bars>
            </div>
        </div>
    </div>
</div>