/* You can add global styles to this file, and also import other style files */

.centered-document {
	margin-left: 5em;
	margin-top: 2em;
	max-width: 80em;
	min-height: 50em;
	background-color: #ffffff;
}

/* A bit of a hack to allow for re-sizing of videos in editor */
.quill-editor iframe {
	pointer-events: none;
}

.ql-editor {
	padding: 0px !important;
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
}